<html>
<head>
    <meta charset="utf-8">
    <title>查看签到情况</title>
    <style>
        #section {
            margin-top:100px;
            margin-left:100px;
            margin-right:100px;
            border:0px solid #000;
            }
    </style>
</head>
<body background="{{ url_for('static',filename='images/background1.jpg') }}">
    <form id="check" method="get" name="checksignin"  action="/admin/checksignin/">
        <div id="section"  style="overflow-x:auto; height:500px" > <!--设置滚动条-->
        <table border="1" align="center">
            <thead>
                <tr bgcolor="#D1EEEE">
                    <td style="text-align:center; font-weight:bold; width="100px"">姓名</td>
                    <td style="text-align:center; font-weight:bold; width="200px"">工号</td>
					<td style="text-align:center; font-weight:bold; width="100px"">日期</td>
					<td style="text-align:center; font-weight:bold; width="100px"">是否签到</td>
					<td style="text-align:center; font-weight:bold; width="100px"">是否迟到</td>
					<td style="text-align:center; font-weight:bold; width="100px"">签到时间</td>
					<td style="text-align:center; font-weight:bold; width="100px"">签退时间</td>                              
                </tr>
            </thead>
            {% for i in u %}
            <tbody>
					<td width="100px" height="25px"> {{ i[0] }} </td>
                    <td width="200px" height="25px"> {{ i[1] }} </td>
                    <td width="100px" height="25px"> {{ i[2] }} </td>
					<td width="100px" height="25px"> {{ i[3] }} </td>
					<td width="100px" height="25px"> {{ i[4] }} </td>
					<td width="100px" height="25px"> {{ i[5] }} </td>
					<td width="100px" height="25px"> {{ i[6] }} </td>
            </tbody>
            {% endfor %}

        </table>
    <!--input type="button" style="height:40px;width:60px;display:inline-block;" value="刷新" onclick="refresh()"-->
        </div>
    </form>
</body>
</html>
<!--script>
    function getnew() {
        var trObj = document.createElement("tr");
        trObj.id = new Date().getTime();
        trObj.innerHTML = "<td><input name='姓名'/></td><td><input name='工号'/></td><td><input name='签到信息'/></td>";
        document.getElementById("tb").appendChild(trObj);
    }
    function refresh(){
        getnew();
    }
    function agree(){
    }
    function refuse(){
    }
</script-->